.btn,
.hoverFill:hover,
.activeFill:active {
	outline: none;
	box-shadow: none;

	padding: 0.4em 1.4em;
	border-radius: 0.4em;
	color: white;
	background-color: var(--accent);
	border: 0.15em solid transparent;
}

.btnOutlined,
.hoverOutline:hover,
.activeOutline:active {
	outline: none;
	box-shadow: none;

	padding: 0.4em 1.4em;
	border-radius: 0.4em;

	color: var(--accent);
	background-color: transparent;
	border: 0.15em solid var(--accent);
}
